@{
    //ViewData["Title"] = "SMS - View departments";
}
@model IEnumerable<StudentManagementSystem.Common.Models.DepartmentVM>
    

<h5 class="p-15">DEPARTMENTS</h5>

<h2>@ViewData["Deleted"]</h2>
<div class="d-flex justify-content-end">
    <a class="btn btn-outline-primary btn-sm mb-0 me-3" asp-controller="Departments" asp-action="Create">Add department</a>
</div>

<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">@Html.DisplayNameFor(model => model.Description)</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count() == 0)
        {
            <tr>
                <td>No departments listed</td>
                <td></td>
                <td></td>
            </tr>
        }
        else
        {
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Name</td>
                    <td>@department.Description</td>
                    <td>
                        <a asp-controller="Departments" asp-action="Edit" asp-route-id="@department.Id" 
                        class="text-secondary font-weight-bold text-xs" data-toggle="tooltip">
                          Edit
                         </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>